@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --card-bg: #ffffff;
}

.dark {
  --background: #020617 !important; /* Slate 950 */
  --foreground: #f8fafc !important;
  --card-bg: #0f172a !important;
}

@layer base {
  html {
    background-color: var(--background);
    color: var(--foreground);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}

.bg-background { background-color: var(--background); }
.text-foreground { color: var(--foreground); }

button {
  cursor: pointer;
}